In [247]:
print("Hello, Python!")
age=23
name='chehtan'
print(name)

Hello, Python!
chehtan

In [15]:
hello="hello, world"
print(hello[1])
print(hello[-1])

e
d

In [14]:
mylist=list(range(1,10))
print(mylist)
mylist.append(2)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 2]

In [16]:
for char in "foo":
    print(char)

f
o
o

In [57]:
String='chethan kumar'
print(String[2:5])
print(String[0:2])
print(String[2:]+String[:2])
print(String[::2])

eth
ch
ethan kumarch
cehnkmr

In [86]:
String='1234'*4
print(String)
print(String[2::4])
print(String[::-1])

1234123412341234
3333
4321432143214321

In [87]:
hello="hello, world!"
print(len(hello))

13

In [88]:
s="====+"
n=8
print(s*n)

====+====+====+====+====+====+====+====+

In [90]:
text="hello"
data="hi my nameis chethankumar, !hello chethan!"
data1="hi my nameis chethankumar, !hi chethan!"
print(text in data)
print(text in data1)

True
False

In [107]:
s='chethan'
t="kumar"
print(s+t)
print(f"hello, {s}")
print("hello ",{s})
print("hello, %s!"% s)

chethankumar
hello, chethan
hello  {'chethan'}
hello, chethan!

In [112]:
txt1="My name is {fname}, I'm {age}".format(fname="chethan",age=23)
txt2="My name is {0}, I'm {1}".format('John',36)
txt3="My name is {}, I'm {}".format("chetna",23)
print(txt1,"\n",txt2,'\n',txt3)
print("")
print(f"{txt1}\n{txt2}\n{txt3}")

My name is chethan, I'm 23
 My name is John, I'm 36
 My name is chetna, I'm 23

My name is chethan, I'm 23
My name is John, I'm 36
My name is chetna, I'm 23

In [113]:
name=input("enter your name:")
print(name)

chethan kumar

In [137]:
string1=" ".join(["Jhon","Peter","Vicky"])
print(string1)
print(type(string1))
print("Hello, world!".endswith("!"))
print(f'{"text":10}')
print(f'{"test":*>10}')
print(f"{text:*<10}")
print(f"{text:*^10}")

Jhon Peter Vicky
<class 'str'>
True
text
******test
hello*****
**hello***

In [145]:
print(f"{10:b}")
print(f"{10:o}")
print(f"{200:x}")
print(f"{65:c}")

1010
12
c8
A

In [156]:
#list
li1=[]
print(li1)
print(type(li1))
li2=[4,5,6]
print(li2)
print(type(li2))
li3=list((1,2,3))
print(li3)
print(type(li3))
li4=list(range(1,11))
print(li4)
li5=list(range(1,11))
print(li5)
li6=list(filter(lambda x:x % 2==1, range(1,20)))
print(li6)

[]
<class 'list'>
[4, 5, 6]
<class 'list'>
[1, 2, 3]
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [166]:
#lambda
add = lambda x,y:x+y
print(add(2,2))

def add1(x,y):
    return x+y
add1(2,4)

4

6

In [ ]:
add2=lambda x,y:x+y
print(add2(2,4))

square=lambda x:x*x
print(square(8))

# sorted(iterable, key=function)
names=["chethan","chethn","kumar","chiluveri"]
Sortedlist=sorted(names,key=lambda x:len(x))
print(Sortedlist)

# map(function, iterable)
nums=[1,2,3,4]
squarenumbers=list(map(lambda x:x*x,nums))
print(squarenumbers)

#filter(function, iterable)
num1=[1,2,3,4,5]
even=list(filter(lambda x:x % 2==0, num1 ))
print(even)

6
64
['kumar', 'chethn', 'chethan', 'chiluveri']
[1, 4, 9, 16]
[2, 4]

In [ ]:

num=list(range(0,20))
even=[]
odd=[]
for i in num:
    if i % 2==0:
        even.append(i)
    else:
        odd.append(i)
print(f"{even}\n{odd}")

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [208]:
even=list(filter(lambda x:x%2==0,num))
odd=list(filter(lambda x:x%2!=0,num))
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [209]:
num2=[]
for i in num:
    num2.append(i**2)
print(num2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [212]:
sq=list(map(lambda x:x**2,num)) 
sq

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [ ]:
num3=list(range(0,10))
print(list(map(lambda x:x*2,num3)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [227]:
odd=list(filter(lambda x:x%2 == 1, range(0,21)))
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [228]:
evenlist=list(filter(lambda x:x%2==0,range(0,11)))
print(evenlist)

[0, 2, 4, 6, 8, 10]

In [231]:
evenlistc=[x**2 for x in range(0,11) if x%2==0]
print(evenlistc)

[0, 4, 16, 36, 64, 100]

In [225]:
oddsq=[x ** 2  for x in range (1 ,11) if x % 2 == 0 ]
print(oddsq)

[4, 16, 36, 64, 100]

In [233]:
listname=['hi','hello','gadwal','chethan','good','Array']
logname=[x for x in listname if len(x)>4]
print(logname)

['hello', 'gadwal', 'chethan', 'Array']

In [236]:
listname=['hi','hello','gadwal','chethan','good','Array']
longer=list(filter(lambda x:len(x)>4,listname))
print(longer)

['hello', 'gadwal', 'chethan', 'Array']

In [242]:
listname=['hi','hello','gadwal','chethan','good','Array']
uppler_list=[x.upper() for x in listname if len(x) > 4]
print(uppler_list)

['HELLO', 'GADWAL', 'CHETHAN', 'ARRAY']

In [244]:
listname=['hi','hello','gadwal','chethan','good','Array']
uppler_list=[x.upper() if len(x)>3 else x for x in listname]
print(uppler_list)

['hi', 'HELLO', 'GADWAL', 'CHETHAN', 'GOOD', 'ARRAY']

In [246]:
list3=[]
for i in listname:
    if len(i)>3:
        list3.append(i.upper())
    else:
        list3.append(i)
print(list3)

['hi', 'HELLO', 'GADWAL', 'CHETHAN', 'GOOD', 'ARRAY']

In [256]:
hi="chethan"
print(hi.upper())
print(len(a))

CHETHAN
6

In [267]:
a = ['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
print(a[2:5])
print(a[-5:-2])
print(a[2:])
print(a[2:len(a)])
print(a)
print(a[:])
print(a[0:6:2])
print(a[1:6:2])
print(a[6:0:-2])
print(a)
print(a[::-1])

['bacon', 'tomato', 'ham']
['egg', 'bacon', 'tomato']
['bacon', 'tomato', 'ham', 'lobster']
['bacon', 'tomato', 'ham', 'lobster']
['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
['spam', 'bacon', 'ham']
['egg', 'tomato', 'lobster']
['lobster', 'tomato', 'egg']
['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']
['lobster', 'ham', 'tomato', 'bacon', 'egg', 'spam']

In [273]:
li=['bread',"butter","milk"]
li.pop()

print(li)
del li[0]
print(li)
odd=[1,3,5]
odd.extend([9,11,13])
print(odd)

['bread', 'butter']
['butter']
[1, 3, 5, 9, 11, 13]

In [307]:
li=[4,4,2,5,5,5,1]
li.sort()
print(li)
li.reverse()
print(li)
print(li.count(1))
li1=set(li)
print(li1)
# li.sort()
print(li)
count=[]
print("-------")
num=1
for i in range(len(li)):
    count.append(li.count(li[i]))
print(count)

[1, 2, 4, 4, 5, 5, 5]
[5, 5, 5, 4, 4, 2, 1]
1
{1, 2, 4, 5}
[5, 5, 5, 4, 4, 2, 1]
-------
[3, 3, 3, 2, 2, 1, 1]

In [310]:
li = [4, 4, 2, 5, 5, 5, 1]
sortedlist=set(sorted(li))
print(sortedlist)
count1=[]
for i in sortedlist:
    count1.append(li.count(i))
print(count1)

{1, 2, 4, 5}
[1, 1, 2, 3]

In [311]:
count2=[li.count(i) for i in sortedlist]
print(sortedlist)
print(count2)

{1, 2, 4, 5}
[1, 1, 2, 3]

In [312]:
num =5
if num>10:
    print(f"the number : {num} > 10")
elif num<10:
    print(f"the number : {num} < 10")
else:
    print(f"the number : {num} = 10")

the number : 5 < 10

In [316]:
a=10
b=20
r='a' if a > b else "b"
print(r)

value = True 
if not value:
    print("value is false")
elif value is None:
    print("Value is None")
else:
    print("Value is True")

b
Value is True

In [319]:
prime=[2,3,5,7]
for  i in prime:
    print(i)

2
3
5
7

In [320]:
animals=["dog","cat","mouse"]
for i, value in enumerate(animals):
    print(i,value)

0 dog
1 cat
2 mouse

In [323]:
x=0
while x<4:
    print(x)
    x+=1

0
1
2
3

In [327]:
x=0
for i in range(10):
    m=i*10
    if i == 5:
        break
    print(m)

0
10
20
30
40

In [333]:
for i in range(4,8):
    x=i*10
    if i ==5:
        # break
        continue
    print(x)

40
60
70

In [8]:
names=["chiluveri","chethan","kumar"]
num=[1,2,3]
names1=["chiluveri","chethan","kumar"]
num1=[1,2,3]

for i,j,i1,j1 in zip(names,num,names1,num1):
    print(f"{i} : {j} : {i1} : {j1}")
    # print('%d:%s, ' %(i, j))

chiluveri : 1 : chiluveri : 1
chethan : 2 : chethan : 2
kumar : 3 : kumar : 3

In [9]:
words = ['Mon', 'Tue', 'Wed']
nums = [1, 2, 3]
# Use zip to pack into a tuple list

data=list(zip(words,nums))
print(data)

for w, n in zip(words, nums):
    print('%d:%s ' %(n, w))

names=["chethan","kumar","sai"]
age=[10,20,22]

for i ,j in zip(names,age):
    print(f"{i} is {j} years old.")

[('Mon', 1), ('Tue', 2), ('Wed', 3)]
1:Mon
2:Tue
3:Wed
chethan is 10 years old.
kumar is 20 years old.
sai is 22 years old.

In [4]:
for i in range(4):
    print(i)
print("--------------")

for i in range(4,8):
    print(i)
print("-----------")

for i in range(4,10,2):
    print(i)

0
1
2
3
--------------
4
5
6
7
-----------
4
6
8

In [14]:
nums = [60, 70, 30, 110, 90]
for n in nums:
    if n > 100:
        print("%d is bigger than 100" %n)
        break
else:
    print("Not found!")

110 is bigger than 100

In [15]:
count = 0
while count < 3:
    print("count =", count)
    if count == 4:
        print("Breaking the loop!")
        break
    count += 1
else:
    print("Loop finished without break")

count = 0
count = 1
count = 2
Loop finished without break

In [18]:
def hello_world():
    print("hello world!")

hello_world()

hello world!

In [21]:
def add(x,y):
    print(f"x is {x}, y is {y}")
    return x+y
add(5,6)

x is 5, y is 6

11

In [ ]:
def numbers(*num):
    return num

numbers(1,2,3,4,5,6,7,78)

(1, 2, 3, 4, 5, 6, 7, 78)

In [30]:
def even(*num):
    return [f"{n} even"  if n%2==0 else  f"{n} odd" for n in num]
even(1,2,3,4,5,6,7,8,9)

['1 odd',
 '2 even',
 '3 odd',
 '4 even',
 '5 odd',
 '6 even',
 '7 odd',
 '8 even',
 '9 odd']

In [37]:
def ketword_ages(**kwargs):
    add=kwargs["num"]+kwargs["num1"]
    print(add)
    return kwargs

ketword_ages(big="foot",loch="ness",num=20,num1=30)

50

{'big': 'foot', 'loch': 'ness', 'num': 20, 'num1': 30}

In [38]:
x=10
y=20
z=0
z=x
x=y
y=z
print(x,y)

20 10

In [55]:
def swap(x,y):
    return y,x

x=10
y=20

x,y=swap(x,y)

print(x,y)

20 10

In [57]:
def add(x,y=10):
    return x+y
print(add(5))
print(add(5,20))

15
25

In [63]:
print((lambda x:x>2)(3))
print((lambda x,y : x **2 +y **2)(2,1))

True
5

In [66]:
def num(*var):
    total=lambda x,y:x*y+y+10-x*2
    return total(var[0],var[1])
num(1,2)

12

In [74]:
import math
print(math.sqrt(16))

from math import ceil, floor
print(ceil(3.1))
print(floor(3.9))

from math import *
import math as m
print(math.sqrt(16) == m.sqrt(16))

import math
dir(math)

4.0
4
3
True

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [76]:
with open("hello.txt") as file:
    for j in file:
        print(j)

hi hello my name is chiluveri chethankumar

1

2

3

4

5

6

In [77]:
file = open("hello.txt",'r')
for i , line in enumerate(file,start=1):
    print(f"number :{i , line}")

number :(1, 'hi hello my name is chiluveri chethankumar \n')
number :(2, '1\n')
number :(3, '2\n')
number :(4, '3\n')
number :(5, '4\n')
number :(6, '5\n')
number :(7, '6\n')

In [83]:
num={"name":"chethan","age":2123}
with open("new.txt", "w+") as file:
    file.write(str(num))

In [84]:
class MyNewClass:
    pass

my = MyNewClass()

In [ ]:
class Animal:
    def __init__(self,voice):
        self.voice=voice
        
cat = Animal("Meow")
print(cat.voice)

dog = Animal("Woof")
print(dog.voice)

Meow
Woof

In [87]:
class Dog:
    def brak(self):
        print("hi hello")
man=Dog()
man.brak()

hi hello

In [89]:
class Myclass:
    class_varibles="a class variable"

print(Myclass.class_varibles)

x=Myclass()
print(x.class_varibles)

a class variable
a class variable

In [101]:
class ParentClass:
    def print_test(self):
        print("Parent Method")

class ChildClass(ParentClass):
    def print_test(self):
        print("child Method")
        # calls the parent print_test()
        super().print_test()

child_instance=ChildClass()
child_instance.print_test()

child Method
Parent Method

In [105]:
class Dad:
    def home(self):
        print("home1")
class child(Dad):
    def home(self):
        print("home2")
        super().home()

Count=child()
Count.home()

home2
home1

In [106]:
class Employee:
    def __init__(self,name):
        self.name=name
    def __repr__(self):
        return self.name

hi=Employee("chethan")
print(hi)

chethan