 Basic Python Questions
Print all even numbers from 1 to 100.

Reverse a string.

Check if a number is prime.

Find the factorial of a number.

Count the number of vowels in a string.

Write a Fibonacci sequence up to n terms.

Check if a string is a palindrome.

Find the maximum and minimum in a list.

Remove duplicates from a list.

Sum of all elements in a list.

In [1]:
# Reverse a string.

def rev(txt):
    return txt[::-1]

rev("Chethan")

'nahtehC'

In [4]:
# Check if a number is prime.

num=10

if num<2:
    print("not a prime")
else:
    if num>=2:
        for i in range(2,num):
            if num%i==0:
                print("not prime")
                break
        else:
            print("prime")
    else:
        print("not prime")

not prime

In [16]:
num = 7
print("Prime" if num > 1 and all(num % i for i in range(2, int(num ** 0.5) + 1)) else "Not Prime")

Prime

In [12]:
# Find the factorial of a number.
def fact(num):
    total=1
    for i in range(1,num+1):
        total*=i
    return total      

fact(5)

120

In [23]:
# Count the number of vowels in a string.
str="Chethan   kumar"
str=str.lower().replace(" ","")
print(str)
count=0
li=[]

for i in str:
    if i in "aeilu":
        count+=1
        li.append(i)
Str="".join(li)
print(count,Str)

chethankumar
4 eaua

In [27]:
my_list=["Hello","hi"]
Str=" ".join(my_list)
print(Str)

Hello hi

In [35]:
my_list=[1,2,3,4,5]
Num=" ".join(map(str,my_list))
print(Num)

1 2 3 4 5

1 2 3 4

In [36]:
list1=["hello","Chethan"]
Str1=" ".join(list1)
print(Str1)

list2=[1,2,3,4]
Str2=" ".join(map(str,list2))
print(Str2)

hello Chethan
1 2 3 4

In [46]:
num=input()
print(num)
print(type(num))
print("===============")
num1=int(input())
print(num1,type(num1))

Chethank
<class 'str'>
===============
23 <class 'int'>

In [37]:
num=list(map(int,input().split()))
print(num)

[1, 2, 3, 45]

In [56]:
num1=list(map(str,input().split()))
print(num1)

['hi', 'hello', 'chethan', 'kumar']

In [40]:
#Write a Fibonacci sequence up to n terms.
num=10
s=0
m=0
n=1

for i in range(0,num):
    s=m+n
    print(m)
    m=n
    n=s

0
1
1
2
3
5
8
13
21
34

In [41]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0


while count < nterms:
    print(n1)
    nth = n1 + n2
    # update values
    n1 = n2
    n2 = nth
    count += 1

0
1
1
2
3
5
8
13
21
34

In [42]:
#Check if a string is a palindrome.
Str="maam"
new=Str[::-1]
if Str==new:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [ ]:
Str=123
Str=str(Str)
new=Str[::-1]
if Str==new:
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [79]:
Text=20021
text=Text
new=[]
for i in range(0,len(str(Text))):
    D=text%10
    new.append(D)
    text=text//10
print(new)

[1, 2, 0, 0, 2]

In [80]:
text1="".join(map(str,new))
text1=int(text1)
print(type(text1))
if text1==Text:
    print("yes")
else:
    print("no")

<class 'int'>
no

In [109]:
print(Text)
print(text1)

20021
12002

56 1

TypeError: '<' not supported between instances of 'str' and 'int'

In [68]:
List=[1,2,3,4,56,7]
# print(max(List1),min(List1))
Max2=List[0]
Min2=List[0]

for i in List:
    if Max2<i:
        Max2=i
    if Min2>i:
        Min2=i
print(Max2,Min2)

56 1

In [43]:
# Find the maximum and minimum in a list.
List=[2,3,423,65,7,4]
print(max(List))
print(min(List))

423
2

In [53]:
List=[2,3,423,65,7,4]
Max1=List[0]
Min1=List[0]

for i in List:
    if Max1>i:
        Max1=i
    if Min1<i:
        Min1=i
print(Max1,Min1)

2 423

In [118]:
List = [2,3,423,65,7,4]  # Example list
max_value = List[0]

for num in List:
    if num > max_value:
        max_value = num

print(max_value)

423

In [ ]:
List = [2, 3, 423, 65, 7, 4]
Max = List[0]
Min = List[0]

for i in List:
    if i > Max:
        Max = i
    if i < Min:
        Min = i

print("Min:", Min, "Max:", Max)

Min: 2 Max: 423

In [129]:
# Remove duplicates from a list.
Mylist=[11,11,22,33,33,44,44,55,55]
Mylist=set(Mylist)
Mylist=list(Mylist)
print(Mylist)

[33, 11, 44, 22, 55]

In [139]:
# Remove duplicates from a list.
Mylist=[11,11,22,33,33,44,44,55,55]
Mylist=set(Mylist)
Mylist=list(Mylist)
Mylist.sort()
print(Mylist)

[11, 22, 33, 44, 55]

In [151]:
del sum

In [152]:
#Sum of all elements in a list.
Mylist=[11,11,22,33,33,44,44,55,55]

print(sum(Mylist))

308

In [154]:
Sum=0
for i in Mylist:
    Sum+=i
print(Sum)

308

In [ ]:
# ðŸ”¢ Numbers & Math
# Print numbers from 1 to 100.

for i in range(1,101):
    print(i,end=' ')

print("--------------")
# Print even numbers from 1 to 100.
for i in range(1,101):
    if i%2==0:
        print("even :",i ,end=" ")
    else:
        print("odd :", i, end =' ')    

# Print odd numbers from 1 to 100.
print("--------------")
# Check if a number is positive, negative, or zero.
num=0
if num>0:
    print("+")
elif num<0:
    print("-")
else:
    print("0")

print("--------------")


# Check if a number is divisible by 3 and 5.

num=4
if num%3==0 and num%5==0:
    print("Div by both 3 and 5")
elif num%3==0:
    print("only Div bt 3")
elif num%5==0:
    print("only Div by 5")
else:
    print(" not Div by both")

print("--------------")

# Find the factorial of a number.

# Generate the Fibonacci sequence up to n terms.

# Check if a number is prime.

num=18
if num<2:
    print("not")
else:
    if num >= 2:
        for i in range(2,num):
            if num%i==0:
                print("not")
                break
        else:
            print("p")
    else:
        print("not")

print("--------------")
# Find the sum of digits of a number.
num=12345
num=str(num)
Sum=0
for i in num:
    Sum+=int(i)
print(Sum)
print("--------------")   
# Reverse a number.
print(num[::-1])

print("--------------")
# ðŸ”¤ Strings
# Reverse a string.

Str="hello"
print(Str[::-1])

print("--------------")

# Check if a string is a palindrome.

# Count the number of vowels in a string.

# Count the number of words in a string.

# Convert a string to uppercase and lowercase.

Str="Chethan Kumar"
Lo=0
Up=0
for i in Str:
    if i in "abcdefghijklmnopqrstuvwxyz":
        Lo+=1
    if i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
        Up+=1
print(Lo,Up)
print("--------------")

# Replace spaces with hyphens in a string.
Str=Str.replace(" ","-")
print(Str)
print("--------------")
# Remove punctuation from a string.
Str="hi () hei[]il{}"
Li=list(Str)
Li1=[]
for i in Li:
    if i  not in "{}[]()" :
        Li1.append(i)

Str="".join(Li1)
print(Str)
print("--------------")
# Find the frequency of each character in a string.

# Find the longest word in a sentence.

# Swap the first and last characters of a string.

# ðŸ“ƒ Lists
# Find the largest number in a list.

# Find the smallest number in a list.

# Calculate the sum of all elements in a list.

# Remove duplicates from a list.

# Sort a list in ascending order.

# Count the occurrences of an element in a list.

# Merge two lists.
L1=[1,2,3]
L2=[4,5,6]
L3=L1+L2
print(L3)
print("--------------")
# Reverse a list.
print(L1[::-1])
print("--------------")
# Find the second largest element in a list.
 
Li3=[23,34,36,6,2,68,2]
Li=set(Li3)
Li=list(Li)
Li.sort(reverse=True)
print(Li[1])



# Check if a list is empty.

# ðŸ”  Tuples & Dictionaries
# Convert a list to a tuple.

# Convert a tuple to a list.

# Merge two dictionaries.

# Add a new key to a dictionary.

# Find the sum of all values in a dictionary.

# Check if a key exists in a dictionary.

# Sort a dictionary by values.

# Count the frequency of items in a list using a dictionary.

# Remove a key from a dictionary.

# Get all keys and values separately from a dictionary.

# ðŸ§® Loops & Conditions
# Print the multiplication table of a number.

# Find the greatest of 3 numbers.

# Check if a year is a leap year.

# Count the number of even and odd numbers in a list.

# Display all prime numbers between 1 to 100.

# Print a simple pattern using * (triangle or square).

# Sum of all even numbers from 1 to 50.

# Calculate the power of a number without using **.

# Create a countdown from 10 to 1.

# Print numbers divisible by 7 but not by 5 between 1 and 100.

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 --------------
odd : 1 even : 2 odd : 3 even : 4 odd : 5 even : 6 odd : 7 even : 8 odd : 9 even : 10 odd : 11 even : 12 odd : 13 even : 14 odd : 15 even : 16 odd : 17 even : 18 odd : 19 even : 20 odd : 21 even : 22 odd : 23 even : 24 odd : 25 even : 26 odd : 27 even : 28 odd : 29 even : 30 odd : 31 even : 32 odd : 33 even : 34 odd : 35 even : 36 odd : 37 even : 38 odd : 39 even : 40 odd : 41 even : 42 odd : 43 even : 44 odd : 45 even : 46 odd : 47 even : 48 odd : 49 even : 50 odd : 51 even : 52 odd : 53 even : 54 odd : 55 even : 56 odd : 57 even : 58 odd : 59 even : 60 odd : 61 even : 62 odd : 63 even : 64 odd : 65 even : 66 odd : 67 even : 68 odd : 69 even : 70 odd : 71 even : 72 odd : 73 even : 74 odd : 75 even : 76 odd : 77 even : 78 odd : 79 even : 80 odd : 81 even : 82 odd : 83 even : 84 odd : 85 even : 86 odd : 87 even : 88 odd : 89 even : 90 odd : 91 even : 92 odd : 93 even : 94 odd : 95 even : 96 odd : 97 even : 98 odd : 99 even : 100 --------------
0
--------------
 not Div by both
--------------
not
--------------
15
--------------
54321
--------------
olleh
--------------
10 2
--------------
Chethan-Kumar
--------------
hi  heiil
--------------
[1, 2, 3, 4, 5, 6]
--------------
[3, 2, 1]
--------------
36

In [193]:
Str="hello hi"
Li=list(Str)
print(Li)

['h', 'e', 'l', 'l', 'o', ' ', 'h', 'i']

In [205]:
Str="hi () hei[]il{}"
Li=list(Str)
Li1=[]
for i in Li:
    if i  not in "{}[]()" :
        Li1.append(i)

Str="".join(Li1)
print(Str)

hi  heiil

In [198]:
Str = "hi () hei[]il{}"
Li = list(Str)  # Convert the string to a list
filtered_Li = [char for char in Li if char not in "{}[]()"]  # Remove unwanted characters
print(filtered_Li)

['h', 'i', ' ', ' ', 'h', 'e', 'i', 'i', 'l']

In [200]:
Str="hi () hei[]il{}"
Li=list(Str)
for i in Li:
    if i  in "{}[]()" :
        Li.pop()
print(Li)

['h', 'i', ' ', '(', ')', ' ', 'h', 'e', 'i', '[', ']']

In [ ]:
List = [10, 20, 35, 50, 35, 60, 70]

largest = second_largest = float('-inf')  # Initialize to negative infinity

for num in List:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num

print("Second largest element:", second_largest)

-inf
Second largest element: 60