In [ ]:
#list [] , 1. ordered index , 2. changeable , 3. aloes duplicate 

mylist=[1,2,3,"hi","chethan",1]
print(mylist)
print(mylist[-2:-1])
print(len(mylist))
print(type(mylist))

# list constructor

mylist2=list((12,3,4,5,6,7,"Chetnakumar""revathi","siddu","sai teja"))
print(mylist2)

#access items
print(".....................")

print(mylist2[2])
print(mylist[0])
print(mylist2[-2])
print(mylist[:])
print(mylist2[:4])
print(mylist2[3:])
print(mylist2[-2:])
print(mylist2[:-2])
print(mylist2[2:4])
print(mylist[2:-1])

[1, 2, 3, 'hi', 'chethan', 1]
['chethan']
6
<class 'list'>
[12, 3, 4, 5, 6, 7, 'Chetnakumarrevathi', 'siddu', 'sai teja']
.....................
4
1
siddu
[1, 2, 3, 'hi', 'chethan', 1]
[12, 3, 4, 5]
[5, 6, 7, 'Chetnakumarrevathi', 'siddu', 'sai teja']
['siddu', 'sai teja']
[12, 3, 4, 5, 6, 7, 'Chetnakumarrevathi']
[4, 5]
[3, 'hi', 'chethan']

In [ ]:
mylist=[1,2,3,4,5,6,78,]
mylist[2]=33
print(mylist)

[1, 2, 33, 4, 5, 6, 78]

In [ ]:
#check if item exits in list
if "hi" in mylist2:
    print(True)
else:
    print(False)


if "hi" in mylist:
    print(True)
else:
    print(False)

False
True

In [ ]:
list1=["apple","banana","mango","cherry"]
list1[1:2]=["A"]
print(list1)
# list1[:]=["B"]
# print(list1)
list1[1:4]=["C"]
print(list1)
list1=["apple","banana","mango","cherry"]
list1[1:]="Apple man"
print(list1)

['apple', 'A', 'mango', 'cherry']
['apple', 'C']
['apple', 'A', 'p', 'p', 'l', 'e', ' ', 'm', 'a', 'n']

In [ ]:
#adding element to the list
list1=["apple","banana","mango","cherry"]
list1.append("kiwi")
print(list1)
list1.pop()
print(list1)
list1.pop(1)
print(list1)
del list1[0]
print(list1)
# del list1
# print(list1)

# clear
list1.clear()
print(list1)

['apple', 'banana', 'mango', 'cherry', 'kiwi']
['apple', 'banana', 'mango', 'cherry']
['apple', 'mango', 'cherry']
['mango', 'cherry']
[]

In [ ]:
list=[1,2,3,4,5,6]
list1=[]
for i in list:
    val=i**2
    list1.append(val)
print(list1)

[1, 4, 9, 16, 25, 36]

In [ ]:
string="hello python"
for i in string:
    if i=='o':
        print("block")
    else:
        print(i)

h
e
l
l
block

p
y
t
h
block
n

In [ ]:
li=[1,2,3,4,5,6,7,8,9]
lis=[]
for i in li:
    if i%2==0:
        lis.append(i)
print(lis)

[2, 4, 6, 8]

In [ ]:

print(range(10))
print(list(range(10)))
print(list(range(0,21,2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
c=0
while c<10:
   
    c+=3
    print(c)

3
6
9
12

In [57]:
# while True:
#     n=10
#     if n==10:
#         break
#     print(n)

In [1]:
while True:
    n=10
    if n==10:
        break
    print(n)

In [3]:
a=8
print(a!=1)
    
mylist=["apple","banana","mango","kiwi"]
newlist=[x for x in mylist if "a" not in x ]
print(newlist)
newli1=[x.capitalize() for x in mylist]
newli1.sort()
print(newli1)
newli1.sort(reverse=True)
print(newli1)

True
['kiwi']
['Apple', 'Banana', 'Kiwi', 'Mango']
['Mango', 'Kiwi', 'Banana', 'Apple']

In [26]:
# tuple () , store multiple items  , order and unchageable
Tuple=(1,2,3,4,5,6,7,6,"A","B")
print(Tuple)
Tuple1=tuple((1,2,3,4,5,6,7))
print(Tuple1)
print(type(Tuple))
print(type(Tuple1))

mytuple=("hi",)
mytuple1=("hi")
print(type(mytuple))
print(type(mytuple1))


# Access Tuple
print("---------------------------")
print(Tuple[0])
print(Tuple[-1])
print(Tuple[0:])
print(Tuple[:])
print(Tuple[3:])
print(Tuple[3:5])
print(Tuple[:-2])
print(Tuple[-3:-1])

# change the tuple into list , it will help to change and change it back to list to tuple

Tupl1=(1,2,3,4,5)
List=list(Tuple)
List[1]="a"
Tuple=tuple(List)

# add tuple to tuple

print(Tuple)
Tuple +=Tupl1
print(Tuple)

(1, 2, 3, 4, 5, 6, 7, 6, 'A', 'B')
(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'str'>
---------------------------
1
B
(1, 2, 3, 4, 5, 6, 7, 6, 'A', 'B')
(1, 2, 3, 4, 5, 6, 7, 6, 'A', 'B')
(4, 5, 6, 7, 6, 'A', 'B')
(4, 5)
(1, 2, 3, 4, 5, 6, 7, 6)
(6, 'A')
(1, 'a', 3, 4, 5, 6, 7, 6, 'A', 'B')
(1, 'a', 3, 4, 5, 6, 7, 6, 'A', 'B', 1, 2, 3, 4, 5)

In [31]:
# remove items from tuple by changeing in list we can do it

Tuple=(1,2,3,4,1) 
List=list(Tuple)
List.remove(1)
Tuple=tuple(List)
print(Tuple)

List=list(Tuple)
List.remove(1)
Tuple=tuple(List)
print(Tuple)

# Tuple can de Deleted
# del Tuple
# print(Tuple)  it will say name 'Tuple' is not defined

(2, 3, 4, 1)
(2, 3, 4)

In [39]:
# Unpacking Tuple 

Tuple=('A',"B","C") # packing tuple
(apple,banana,mango)=Tuple # Unpacking Tuple  and note : the number of variable should mach to values in Tuple

print(apple)
print(banana)
print(mango)

# using * 

fruits = ("apple" , "banana", "cherry","mango","Kiwi")
(A,B,*C)=fruits
print(A)
print(B)
print(C)

(A,*B,C)=fruits
print(A)
print(B)
print(C)

A
B
C
apple
banana
['cherry', 'mango', 'Kiwi']
apple
['banana', 'cherry', 'mango']
Kiwi

In [49]:
# loop tuple
Tuple=(1,2,3,4,5,6)
for i in Tuple:
    print(i)

# loop through index
print("____________________")
for i in range(len(Tuple)):
    print(Tuple[i])

# using while

print("______________")

i=0
while i<len(Tuple):
    print(Tuple[i])
    i +=1

# join tuple

t1=(1,2,3,4,3,3,5,4)
t2=("a","b","c")
t3=t1+t2
print(t3)

mul=t1*2
print(mul)

x=t1.count(4)
print(x)

x=t1.index(4)
print(x)

1
2
3
4
5
6
____________________
1
2
3
4
5
6
______________
1
2
3
4
5
6
(1, 2, 3, 4, 3, 3, 5, 4, 'a', 'b', 'c')
(1, 2, 3, 4, 3, 3, 5, 4, 1, 2, 3, 4, 3, 3, 5, 4)
2
3

In [11]:
# Set {} unordered , unchangeable ,  and we can remove items , not allow duplicate.

set1={1,2,3,4,5,1,2}
print(set1) 

set2={"apple","banana","mango"}
print(set2)

set3={1,2,"apple","banana",True,0,False}
print(set3)

set4={"apple","banana",True,1,2,3}
print(set4)

set5={"apple","banana",1,True,2,3}
print(set5)

set6={"apple","banana",0,False,1,True,2,3}
print(set6)

set7={"apple","banana",False,0,1,True,2,3}
print(set7)

{1, 2, 3, 4, 5}
{'banana', 'mango', 'apple'}
{0, 1, 2, 'apple', 'banana'}
{True, 2, 3, 'apple', 'banana'}
{1, 2, 3, 'apple', 'banana'}
{0, 1, 2, 3, 'apple', 'banana'}
{False, 1, 2, 3, 'apple', 'banana'}

In [ ]:
# Constructor

set11=set(("apple","bannana","mango",1,2,3))
set22=set((1,2,3,45,6,7,"cherry","kewi"))
list1=[11,222,333,4444]
for i in set11:
    print(i)
print("apple" in set11)
print("Apple" in set11)

print("apple" not in set11)
print("Apple" not  in set11)

# add items

set11.add("orange")
print(set11)
set22.update(set11)
print(set22)
set22.update(list1)
print(set22)
set11.remove("apple")
print(set11)
set22.discard(1)
print(set22)
print(set22)
set11.pop()
print(set11)
set11.clear()
print(set11)
# del set22
# print(set22)

mango
1
2
3
apple
bannana
True
False
False
True
{'mango', 1, 2, 3, 'apple', 'orange', 'bannana'}
{'mango', 1, 2, 3, 'cherry', 'kewi', 6, 7, 45, 'apple', 'orange', 'bannana'}
{'mango', 1, 2, 3, 'cherry', 'kewi', 6, 7, 11, 45, 333, 'apple', 'orange', 4444, 222, 'bannana'}
{'mango', 1, 2, 3, 'orange', 'bannana'}
{'mango', 2, 3, 'cherry', 'kewi', 6, 7, 11, 45, 333, 'apple', 'orange', 4444, 222, 'bannana'}
{'mango', 2, 3, 'cherry', 'kewi', 6, 7, 11, 45, 333, 'apple', 'orange', 4444, 222, 'bannana'}
{1, 2, 3, 'orange', 'bannana'}
set()

NameError: name 'set22' is not defined

In [ ]:
set1={1,2,3}
set2={4,5,6}
set3={"apple","banana"}
set4={"orange","mango"}

set5=set1.union(set2,set3,set4)
print(set5)

set6=set1 | set2
print(set6)

set7= set1 | set2 | set3 |set4
print(set7)

# intersection() , &

set1={"apple", "banana","mango",1,2}
set2={"mango","apple","kiwi",1,7}
set3=set1.intersection(set2)
print(set3)
set4=set1 & set2
print(set4)
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 'apple', 'banana', 'orange', 'mango'}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 'apple', 'banana', 'orange', 'mango'}
{1, 'apple', 'mango'}
{1, 'apple', 'mango'}
{1, 'apple', 'mango'}
{0, 1, 2, 'mango'}

In [16]:
set1={"apple",1,"mango",0,"cherry"}
set2={False,"mangom",1,"cherry",2,True}
set3=set1.intersection(set2)
print(set3)

{False, 1, 'cherry'}

In [17]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", "microsoft", "apple", True}

set3 = set1.intersection(set2)
print(set3)

{False, True, 'apple'}