In [ ]:
# Assign and print length
text="Hello"
print(text)
print(len(text))

Hello
5

In [ ]:
# Swap numbers
a=10
b=20
a,b=b,a
print(a,b)


a=1
b=2
c=0

c=a
a=b
b=c
print(a,b)

20 10
2 1

In [5]:
# Positive or Negative number

num=int(input())

if num >= 0 :
    print("Positve number")
else:
    print("Negative number")

Negative number

In [10]:
num=int(input())
print("+ve num" if num>=0 else "-Ve num")

-Ve num

In [7]:
# Even or Odd number
num=int(input())
if num%2==0:
    print("even")
else:
    print("odd")

even

In [12]:
num=int(input()); print("eve" if num%2==0 else "odd")

eve

In [14]:
num=10
for i in range(0,num):
    print(i)

print(" / ")
for i in range(num,-1,-1):
    print(i)

0
1
2
3
4
5
6
7
8
9
 /
10
9
8
7
6
5
4
3
2
1
0

In [20]:
a = lambda x,y:x+y
print(a(10,20))
for i in range(0,3):
    for j in range (1,3):
        print(a(i,j))

30
1
2
2
3
3
4

In [21]:
i = 5
while i > 0:
    print(i)
    i -=1

5
4
3
2
1

In [22]:
# with 
with open("ex.txt","w") as file:
    file.write("hello world!")

In [25]:
with open("ex.txt","r") as file:
    print(file.read())

hello world!

- Aspect,return (Snippet 1),yield (Snippets 2 and 3)
- Function Type,Regular function,Generator function
- Output,"Single value (e.g., 0)",Generator object yielding multiple - values
- Loop Behavior,Exits after first return,"Yields one value per iteration, resumes after"
- Iterability,Returns non-iterable integer (0),Returns iterable generator object
- Output,Causes TypeError when iterating,Prints 0 1 4 9 16 25
- Memory Usage,"Returns one value, no iteration","Yields values one at a time, memory-efficient"

In [46]:
# Regular function

def sum_of_squares():
    total = 0
    for i in range(6):
        total += i * i
        print(total)

sum_of_squares()  # Output: 55 (0 + 1 + 4 + 9 + 16 + 25)

# def square():
#     for i in range(6):
#         return i*i
# s=square()
# for i in s:
#     print(i)

0
1
5
14
30
55

('q', 'e', 'w', 'q')

In [ ]:
# yield
# Generator function

def square():
    for i in range(6):
        yield i*i
s=square()
for i in s:
    print(i)

0
1
4
9
16
25

In [15]:
# Sum of First N Natural numbers

fn=10
Num=0
for i in range(0,fn+1):
    Num=Num+i
print(Num)

55

In [ ]:
fn=10
print((fn*(fn+1))//2)

55

In [32]:
# Sum of numbers in a given range
s=2
e=5
total=0
for i in range(s,e+1):
    total+=i
print(total)

14

In [26]:
# counting the each and every elementes how many times is it repeted in the string

Str="Chethan kumar"
# Str=Str.lower().replace(" ","")
# Str="".join(Str.split())
Str="".join(Str.lower().split())
print(Str)
print(len(Str))
Total={}

for i in Str:
    if i in Total:
        Total[i]+=1
    else:
        Total[i]=1

for i,j in Total.items():
    print(i,j)

chethankumar
12
c 1
h 2
e 1
t 1
a 2
n 1
k 1
u 1
m 1
r 1

In [46]:
String="Hi hello it is a Good day!"
String="".join(String.lower().split())
print(String)

count={}

for i in String:
    if i in count:
        count[i]+=1
    else:
        count[i]=1

for i,j in count.items():
    print(i,j)

hihelloitisagoodday!
h 2
i 3
e 1
l 2
o 3
t 1
s 1
a 2
g 1
d 2
y 1
! 1

In [48]:
String="hihelloitisagoodday!"
List=['a','e','i','o','u']
# print(String in List)
for i in String:
    if i in List:
        print("Yes")
        break

Yes

In [ ]:
String="hihelloitisagoodday!"
count1={}
for i in String:
    if i in List:
        if i in count1:
            count1[i]+=1
        else:
            count1[i]=1
print(count1)

{'i': 3, 'e': 1, 'o': 3, 'a': 2}

:

In [35]:
s,e=10,11
print(sum(range(s,e+1)))

21

In [37]:
# Greatest of two numbers
num1,num2=10,20
print(f"{num1} is Greatest number" if num1>num2 else f"{num2} is Greatest number" )

20 is Greatest number

In [40]:
# Greatest of two numbers
num1,num2,num3=10,20,4
print(f"{num1} is Greatest number"  if num1>num2 and num1>num3 else
        f"{num2} is Greatest number"  if num2>num3 else 
        f"{num3} is Greatest number")

20 is Greatest number

In [42]:
# Leap year or not

year=2000
if (year % 4 ==0 and year %100!=0 ) or (year % 400 ==0):
    print("leap year")
else:
    print("not leap year")

leap year

In [54]:
# Prime number
num=7

if num>1:
    for i in range(2,num):
        if num%i==0:
            print("not prime")
            break
    else:
        print("prime")
else:
    print("not prime")

prime

In [ ]:
# Prime number within a given range

s=2
e=10
arr=[]
arr1=[]
for i in range(s,e):
    if i >1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            arr.append(i)
            arr1.append(i)
print(arr)

[2, 3, 5, 7]

In [ ]:
# Sum of digits of a number

num=12345
str1=str(num)
total=0
for i in str1:
    total+=int(i)
print(total)

15

In [ ]:
# Reverse of a number
num=123
num1=str(num)
print(num1[::-1])

321

In [102]:
arr=[]
for i in range(len(num1)-1,-1,-1):
    arr.append(num1[i])
str2="".join(arr)
print(int(str2))

321

In [108]:
# Palindrome number
num = 2322
str1=str(num)
str2=str1[::-1]
if str1 == str2:
    print("Palindrome number")
else:
    print("not Palindrome number")

not Palindrome number

In [109]:
arrstr=[]
for i in range(len(str1)-1,-1,-1):
    arrstr.append(str1[i])
if str1 == str("".join(arrstr)):
    print("Palindrome number")
else:
    print("not Palindrome number")

not Palindrome number

In [152]:
# Armstrong number
num=407
num1=str(num)
le=len(num1)
total=0

for i in range(0,len(num1)):
    total+=int(num1[i])**le
print("yes" if num == total else "NO")

yes

In [168]:
# Armstrong number in a given range

s="0"
e="1000"
list1=[]

for i in range(0,int(e)):
    # print(i)
    j=str(i)
    # print(j)
    le=len(j)
    total=0
    for k in range(0,len(j)):
        total+=int(j[k])**le
    if total == i:
        # print(total)
        list1.append(str(total))

print(list1)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '153', '370', '371', '407']

In [186]:
lis1=[1,2,3,4,5]
total=5
fon=False
for i in range(len(lis1)):
    for j in range(1,i):
        sum = lis1[i] + lis1[j]
        if sum == total:
            print(i,j)
            fon=True
            break
    if fon:
        break

2 1

In [205]:
# Fibonacci Series upto nth term

num=10
n=0
n1=1
for i in range(num):
    # print(i)
    # print(n)
    n,n1=n1,n+n1
    print(n)

1
1
2
3
5
8
13
21
34
55

In [206]:
# ind the Nth Term of the Fibonacci Series

num=10
n=0
n1=1
for i in range(num):
    # print(i)
    # print(n)
    n,n1=n1,n+n1
print(n)

55

In [208]:
# Factorial of a number

num=5
total=1
for i in range(1,num+1):
    total*=i

print(total)

120

In [209]:
# Power of a number
base=2
po=3
print(base**po)

8

In [ ]:
# Factor of a number