### Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Comparison operators
- List
- Set
- Dictionaries
- Tuple

#### Boolean Variable
- True and False

In [1]:
bool()

False

In [2]:
True

True

In [3]:
False

False

In [4]:
type(True)

bool

In [7]:
type(False)

bool

In [20]:
my_str="Chethan Kumar"
my_str.upper()

'CHETHAN KUMAR'

In [21]:
my_str.capitalize()

'Chethan kumar'

In [22]:
my_str.isalnum()

False

In [23]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('r'))
print(my_str.startswith('C'))

False
False
False
False
False
False
True
True

#### Boolean and Logical Operators

In [25]:
True and True

True

In [26]:
True and False

False

In [29]:
False and False

False

In [28]:
True or True

True

In [27]:
True or False

True

In [30]:
False or False

False

In [41]:
str1="Chethan"
str2="Hello"

In [44]:
print(str1.isupper() or str2.isalpha())
print(str1.isupper() and str2.isalpha())
print(str1.isalpha() and str2.istitle())
print(str1.isnumeric() or str2.isupper())
print(str1.isupper() or str2.isalpha())

True
False
True
False
True

#### List
- []
- mutable or changeable , ordered

In [76]:
List=[]
type(List)

list

In [77]:
List1=list()
type(List1)

list

In [78]:
List=["chethan","kumar",100,200,300]
print(type(List))
print(len(List))

<class 'list'>
5

In [79]:

## indexing in list start fr0m 0 , 1, 2, 3, . . . . .
## indexing in list also negative  from  -1, -2, -3, . . . . . state from end 
print(List[0])
print(List[2])
print(List[:])
print(List[2:])
print(List[2:4])
print(List[-1])
print(List[-3])
print(List[:-1])
print(List[-3:-1])

chethan
100
['chethan', 'kumar', 100, 200, 300]
[100, 200, 300]
[100, 200]
300
100
['chethan', 'kumar', 100, 200]
[100, 200]

In [80]:
# Append will add vales or element at the end
List.append("Chiluveri")
print(List)
#adding nested List 
List.append(["Sai kiran",24,22])
print(List)

['chethan', 'kumar', 100, 200, 300, 'Chiluveri']
['chethan', 'kumar', 100, 200, 300, 'Chiluveri', ['Sai kiran', 24, 22]]

In [89]:
# Insert it will help to add element at any index in the list

List=["chethan","kumar",100,200,300]
List.insert(0,"Chiluveri")
print(List)
List.insert(4,["Chiluveri","Sai kiran",22,24])
print(List)

['Chiluveri', 'chethan', 'kumar', 100, 200, 300]
['Chiluveri', 'chethan', 'kumar', 100, ['Chiluveri', 'Sai kiran', 22, 24], 200, 300]

In [92]:
# Extend
List=[1,2,3,4]
List.extend([5])
print(List)

[1, 2, 3, 4, 5]

In [93]:
List.extend([6,7,8])
print(List)

[1, 2, 3, 4, 5, 6, 7, 8]

In [98]:
## Various Operation that we can do in python
List =[1,2,3,4,5,6,7]
print(sum(List))

28

In [99]:
## will pop() will remove the element at end , if pop(1) or if want to remove 
## specific index 
List.pop()
print(List)
List.pop(2)
print(List)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [101]:
## count() will count the total occurrence of give element of list
List=[1,1,2,3,4,5,6]
print(List.count(1))
print(len(List))

2
7

In [106]:
## index() will say what value is present at that index
print(List.index(1))
print(List.index(3))
print(List.index(1,1,4))
print(min(List))
print(max(List))

0
3
1
1
6

In [107]:
List*2

[1, 1, 2, 3, 4, 5, 6, 1, 1, 2, 3, 4, 5, 6]

#### Set
- {} , unordered collection of data types , mutable ,on duplicates element

In [110]:
Set=set()
print(Set)
print(type(Set))

set()
<class 'set'>

In [111]:
Set={1,2,3,4,5,1}
print(Set)

{1, 2, 3, 4, 5}

In [117]:
Set1={"chethan","Kumar","Chiluveri"}
print(Set1)
print(type(Set1))

{'Kumar', 'Chiluveri', 'chethan'}
<class 'set'>

In [118]:
# Indexing will not support by SET it gives Type Error
print(Set1[0])

TypeError: 'set' object is not subscriptable

In [119]:
## add element in Sat
Set1.add("Saikiran")
print(Set1)

{'Saikiran', 'Kumar', 'Chiluveri', 'chethan'}

In [124]:
SET1={1,2,3}
SET2={1,2,3,4}
print(SET2.difference(SET1))
print(SET2)
SET2.difference_update(SET1)
print(SET2)

{4}
{1, 2, 3, 4}
{4}

In [128]:
SET1={1,2,3}
SET2={1,2,3,4}
print(SET2.intersection(SET1))
print(SET2)
SET2.intersection_update(SET1)
print(SET2)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}

#### Dictionaries
- {key:Value} , {} , Unordered , changeable and indexed

In [129]:
dic={}
print(type(dic))
print(dic)

<class 'dict'>
{}

In [132]:
Dic=dict()
print(type(Dic))
print(Dic)

<class 'dict'>
{}

In [130]:
dic={1,2,3,4}
print(type(dic)) # it will a set
print(dic)

<class 'set'>
{1, 2, 3, 4}

In [131]:
dic={1:"Car",2:"bike",3:"man",4:"woman",5:"child"}
print(type(dic))
print(dic)

<class 'dict'>
{1: 'Car', 2: 'bike', 3: 'man', 4: 'woman', 5: 'child'}

In [136]:
print(dic[1]) # in Dic the index are not like list 0,1,2,.. it like keys : 
print(dic[4]) # for this ex the index in 1,2,3

Car
woman

In [137]:
dic={"Car":"TATA","bike":"BMW","man":"Chethan","woman":"Anuja","child":"Dugu Dugu"}
print(type(dic))
print(dic)

<class 'dict'>
{'Car': 'TATA', 'bike': 'BMW', 'man': 'Chethan', 'woman': 'Anuja', 'child': 'Dugu Dugu'}

In [139]:
print(dic["Car"]) # in Dic the index are not like list 0,1,2,.. it like keys : 
print(dic["child"]) # for this ex the index in "Car","bike","man",....

TATA
Dugu Dugu

In [140]:
# we can loop to see keys
for i in dic:
    print(i)

Car
bike
man
woman
child

In [142]:
# we can loop to see values
for i in dic.values():
    print(i)

TATA
BMW
Chethan
Anuja
Dugu Dugu

In [143]:
# to all items = both(keys and Values)
for i in dic.items():
    print(i)

('Car', 'TATA')
('bike', 'BMW')
('man', 'Chethan')
('woman', 'Anuja')
('child', 'Dugu Dugu')

In [144]:
## Adding or update 
dic["home"]="chiluveri"
print(dic)

{'Car': 'TATA', 'bike': 'BMW', 'man': 'Chethan', 'woman': 'Anuja', 'child': 'Dugu Dugu', 'home': 'chiluveri'}

In [145]:
dic["Car"]="Maruti" ## replace TATA with Maruti  , the value is overladed 
print(dic)          ## when with same values

{'Car': 'Maruti', 'bike': 'BMW', 'man': 'Chethan', 'woman': 'Anuja', 'child': 'Dugu Dugu', 'home': 'chiluveri'}

In [146]:
#Nested Dictionary
n1_age={"chethan":22}
n2_age={"Saikiran":24}
n3_age={"Gopal":54}
data={"n1":n1_age,"n2":n2_age,"n3":n3_age}
print(data)

{'n1': {'chethan': 22}, 'n2': {'Saikiran': 24}, 'n3': {'Gopal': 54}}

In [147]:
print(data["n1"])

{'chethan': 22}

In [148]:
print(data["n1"]["chethan"])

22

#### Tuple
- () , unchangeable , unmutable if ones it is created 
- Tuple is use in program when it should want to use for one time

In [150]:
my_tuple=tuple()
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
()

In [153]:
Tuple=()
print(Tuple)
print(type(Tuple))

()
<class 'tuple'>

In [158]:
Tuple=("Chethan","kumar","chiluveri")
print(Tuple)
print(Tuple[0])
print(Tuple[-1])
print(Tuple[:])

('Chethan', 'kumar', 'chiluveri')
Chethan
chiluveri
('Chethan', 'kumar', 'chiluveri')

In [ ]:
Tuple[0]="Saikiran" # it shoe error became if one the item is 
print(Tuple)        # assigned we can't change it

TypeError: 'tuple' object does not support item assignment

In [163]:
Tuple=("Saikiran","Chethan","Chethan") # but the hole TUPLE can change
print(Tuple)

('Saikiran', 'Chethan', 'Chethan')

In [164]:
print(Tuple.count("Chethan"))

2